.navigation {
  
  width: 100%;
  height: 50px;
  background-color: lightblue;
}

h1 {
  
  text-align: center;
  font-size: 400%;
}

body {
  
  background: url (https://www.cesarsway.com/sites/newcesarsway/files/styles/large_article_preview/public/All-about-puppies--Cesar’s-tips%2C-tricks-and-advice.jpg?itok=bi9xUvwe)
  background-size:
}